<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>大型设备管理（开发版）-中国民航大学</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/AdminLTE.min.css">
	<link rel="stylesheet" href="./css/_all-skins.min.css">
	<script src="./angularjs/angular.min.js"></script>
	<script src="./JavaScript/layout.js"></script>
	<script src="./JavaScript/jquery-2.2.3.min.js"></script>
	<script src="./JavaScript/jquery.slimscroll.min.js"></script>
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	<script src="./JavaScript/app.min.js"></script>
	<script src="./JavaScript/clctTrash.js"></script>
</head>
<body class="hold-transition skin-blue fixed sidebar-mini" ng-app="clctTrashApp" ng-controller="clctTrash" class="container">

<header class="main-header">
	<a class="logo">
		<span class="logo-lg">
			<b>大型设备管理系统</b>
		</span>
	</a>
	<nav class="navbar navbar-static-top">
		<button class="btn btn-danger" style="float:right" ng-click="exit()"> 退出</button>
	</nav>
</header>
	<div id="sidebar" class="wrapper"></div>	
	
	<div class="content-wrapper">
		<section class="content-header">
			<h4>
				<span class="glyphicon glyphicon-home"></span>
				<a href="index.html" style="width:60px" >首页</a>
				<span class="glyphicon glyphicon-chevron-right"></span>
				<a href="index.html">采集器管理</a>
				<span class="glyphicon glyphicon-chevron-right"></span>
				采集器回收站
			</h4>
		</section>

		<section class="content">
			<div class="box">
				<div class="box-header "></div>
				<div class="box-body"><div>
				
				 
<!-- <div class="container"> -->
<!-- <div class="text-center"> -->
<!-- 	<input type="text" name="CollectorID" ng-model="CollectorID" placeholder="采集器ID"> -->
<!-- 	<span><button class="btn btn-primary" ng-click="search()">搜索</button></span> -->
<!-- </div> -->

<div style="float:right">
	<button class="btn btn-success" ng-click="refresh()">
	<span class="fa fa-refresh">刷新</span>
	</button>
</div>
<table  class="table table-border table-bordered table-bg table-sort" >
	<thead>
			<th class="text-center">采集器ID</th>
			<th class="text-center">采集器状态</th>
			<th class="text-center">采集器所属学院</th>
			<th class="text-center">采集器说明</th>
			<th class="text-center">操作</th>
	</thead>
	<tbody>
		<tr ng-repeat="Collector in collectorTrashList" class="text-center">
			<td>{{Collector.clct_ID}}</td>
			<td>{{Collector.state_Detail}}</td>
			<td>{{Collector.dept_Name}}</td>
			<td>{{Collector.clct_Mark}}</td>
			<td>
				<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="reuse(Collector.clct_NO)">
				<span class="fa fa-edit">恢复</span>
				</button>
				<button class="btn btn-danger" data-toggle="modal" data-target="#myModal" ng-click="deleteUndone(Collector.clct_NO)">
					<span class="fa fa-edit">彻底删除</span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<div class="box text-center">
<ul class="pagination" style="margin:0 auto;">
	<li ng-class="{true:'disabled'}[p_current==1]"><a href="javascript:void(0);" ng-click="p_index()">首页</a></li>
	<li ng-repeat="page in pages" ng-class="{true:'active'}[p_current==page]"><a href="javascript:void(0);" ng-click="load_page(page)">{{page}}</a></li>
	<li ng-class="{true:'disabled'}[p_current==p_all_page]"><a href="javascript:void(0);" ng-click="p_last()">尾页</a></li>
</ul>
<span style="vertical-align:12px;">共：{{count}}条</span>
</div>
</div>
						</div>
			</div>
		</section>
	<div class="control-sidebar-bg"></div>
</div>

</body>
</html>
